body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  text-align: center;
}

#films {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.film {
  background-color: #444;
  border: 1px solid #555;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  width: 350px; /* Augmenté la largeur des cartes */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.film img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

form {
  background-color: #444;
  border: 1px solid #555;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 350px; /* Augmenté la largeur du formulaire */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form label {
  font-weight: bold;
}

form input, form textarea, form button {
  padding: 10px;
  border: 1px solid #555;
  border-radius: 4px;
  width: 100%;
  background-color: #555;
  color: #fff;
}

form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}